{
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "comma-dangle": ["error", {
      "arrays": "always",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }]
  },
  "extends": [
    "next",
    "next/core-web-vitals"
  ]
}